* {
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    color: black;
}

.splash-div {
    position: relative;
}

.session-nav {
    list-style: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100;
    align-items: center;
    color: black;
    margin: 0 auto;
    font-size: 0.9rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    padding-bottom: 10px;
    padding-right: 10px;
}

.navbar-links {
    display: flex;
    // width: 400px;
}

.navbar-link {
    display:flex;
    width: 200px;
    
}
.navbar-logo { 
   right: 0px;
}


.session-nav :hover{
    color: rgb(168, 157, 157);
    cursor: pointer;
}
