.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
  border: 1px solid white;
  border-radius: 60px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5f0360;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5f0360;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}

.channels-form{
  height: 522px;
  width: 515px;
  background-color: #a43aa6;
  border: 1px solid #a43aa6;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 30px 25px 30px 27px
}

.channels-form h1{
  font-size: 28px;
  font-weight: 700;
  height: 54px;
}

.channels-form p{
  color: white;
  line-height: 1.3rem;
  font-size: .9rem;
  height: 58px;
}

.channels-form label{
  font-weight: 700;
  font-size: .9rem;
  line-height: 2rem;
}

.q{
  font-weight: 400;
  font-size: .75rem;
  color: white;
}

.channels-form label input::placeholder{
  font-weight: 400;
  font-size: 1rem;
}

.channels-form label span{
  font-weight: 400;
  color: white;
}

.channels-form-name{
  box-sizing: border-box;
  width: 468px;
  height: 47px;
  border: 1px solid white;
  border-radius: 3px;
  padding-left: 20px;
}

.channels-form textarea{
  box-sizing: border-box;
  width: 468px;
  height: 47px;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px 0px 0px 5px
}

.channels-form form{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.channels-form form > label{
  height: 95px;
}

.private{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.private p{
  width: 350px;
  font-weight: 400;
}

.channels-form-options{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 60px;
}

.channels-form-options span{
  color: white;
  font-size: .9rem;
  line-height: 2rem;
}

.channels-form-options button{
  background-color: white;
  border: 1px solid white;
  line-height: 2rem;
  padding: 0px 12px;
  border-radius: 3px;
  font-weight: 700px;
  font-size: .9rem;
}

.channels-form-options button:hover{
  cursor: pointer;
  background-color: white;
  font-weight: 700;
}

textarea{
  font-size: .9rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

textarea::placeholder{
  color: white;
}