.room-header{
    background-color: #4a154b; 
    
}

.left {
    display:flex;
    flex-direction: right;
    padding-left: 1850px;


}


.left > .MuiSvgIcon-root {
    padding-right: 100px;
}

.header_searchbox{
    padding-left: 600px;
}

.header_searchbox{
    padding-left: 1000px;

}
