.chat{
    flex: 0.7;
}
.chat__header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.channel_name{
    display: flex;
    text-transform: lowercase;
}