.session-footer{
    list-style: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin: 0 auto;
    font-size: 0.9rem;
    position: absolute;
    width: 100%;

    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    
}