.footer{   
     display: flex;
     flex-direction: row;
     padding-left: 600px;
        word-spacing: -1.5px
 }


 .footer img{
     margin-top: 40px;
     height: 500;
    width: 500;
 }

 .footer div {
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
     font-size: 14px;
     color: rgb(48, 46, 46);
     float: right;
     margin: 10px;

 }

  .footer div h3 { 
      margin-top: 40px;
      font-size: 14px;
     color: rgb(48, 46, 46);
 }

 .knowme-links{
     color: rgb(48, 46, 46);
     text-decoration: none;
     margin-bottom: 5px;

 }

 .footer3{
     padding-right: 60px;
 }

