.form-container {
    width: 1024px;
    margin: 0 auto;
}

.session-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: black;
    background-color:white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2rem 0.5rem 1rem;
  padding: 10px;
  box-shadow: 5px 10px #4a154b;
    
}


.background{

    width: 100%;
    height: calc(100% - 70px - 4rem);
    min-height: 670px;
    position: absolute;
    top: 70px;
    bottom: 0;
    background-color: white;
    padding-top: 58px;
}

.session-form-desc, .session-form-desc > b {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.session-form-desc > b {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding-top: 58px;
    max-width: 1080px;
    margin: 0 auto;
}

.session-form-header{
    color: black;
    font-family: 'Lato', sans-serif;   
    line-height: 2.5rem;
    letter-spacing: -1px;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    
}


.session-form{
    width:100%;
    align-items: center;
}

.inner-form-container {
    width: 70%;
}

.session-form-input:focus{
    border: 1px solid black;
    outline: 0;
}

.session-submit-button {
    font-size: 1.25rem;
    line-height: normal;
    padding: .75rem;
    background-color: #007a5a;
    border-radius: .25rem;
    margin: 0 auto 10px;
    width: 100%;
    color: black;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    outline: 0;

}

.session-submit-button:hover {
    box-shadow: 1px 1px 2px black;
}

.session-form-continue{
    padding: 19px 40px 20px;
    font-weight: 425;
    line-height: 1.28571429;
    border-radius: 10px;
    font-size: .875rem;
    background-color: #4a154b;
    color:beige;
    box-shadow: none;
    border: none;
    letter-spacing: 1px;
    outline: 0;
    padding-bottom: 300px;
    width: 100%;
    position: center;
}
.splash-picture-1{
    margin-bottom: inherit;
    width: 500px;
    height: 500px;


}

.sign-in-work{
   font-family: Slack-Larsseit,Helvetica Neue,Helvetica,Segoe UI,Tahoma,Arial,sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 46px;
    max-width: 700px;
    text-align: center;
    letter-spacing: -.75px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    

    max-width: 1080px;
    margin: 0 auto;
}

.form-container{
    width: 66%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color:white;
    padding: 2rem 0.5rem 1rem;
    letter-spacing: -1px;

}
.session-form-desc{
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 32px;
    color: #454245;
    max-width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    max-width: 1080px;
    margin: 0 auto;
}


.first-line{
    font-size: 13px;
    line-height: 1.38463;
    font-weight: 400;
    color: rgba(var(--sk_foreground_max,29,28,29),.7);
}

.second-line{
    font-size: 13px;
    line-height: 1.38463;
    font-weight: 400;
    color: rgba(var(--sk_foreground_max,29,28,29),.7);
}

.p-signin_form__caption{
    font-size: 13px;
    line-height: 1.38463;
    font-weight: 400;
    color: rgba(var(--sk_foreground_max,29,28,29),.7);
    letter-spacing: -1px;
    word-spacing: 1px;
        color: #1264a3;
}

.p-signin_form{
    font-size: 13px;
    line-height: 1.38463;
    font-weight: 400;
    color: rgba(var(--sk_foreground_max,29,28,29),.7);    
    letter-spacing: -1px;
    word-spacing: 1px;
}
.c-link{
        color: #1264a3;
}

.b-link{
        color: #1264a3;
}



.continue-button{
    color: #fff;
    background-color: #4a154b;
    border: none;
    align-self: center;
    font-size: 13px;
    font-weight: 900;
    height: 44px;
    min-width: 96px;
    padding: 0 16px 0px;
    box-sizing: inherit;
    position: center;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
}
.continue-button:hover{
    color: rgb(83, 83, 133);
}

.login-form{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    word-spacing: 5;
        position: center;

    
}

.login-form-1{

    word-spacing: 2;
    
}

.email{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;

}

.password{
        padding-right: 10px;
    padding-left: 10px;
        padding-top: 10px;

}

.continue1{
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    cursor: pointer;

}

.continue1:hover{
    color:grey;
}

