.sidebar{
    background: #4a154b;
    border-top: 1px solid #4a154b;
    color: white;
    max-width: 260px;
    flex: 0.3px;
}


.sidebar > hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #4a154b;
}

.sidebar_header{
    display: flex;
    border-bottom: 1px solid #4a154b;
    padding: 13px;
    padding-bottom: 10px;

}

.sidebar_info {
    flex: 1;
}

.sidebar_info > h2 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;

}

.sidebar_info > h3 {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;

}

.green{
    font-size: 14px;
    margin-top: 1px;
    margin-right: 2px;
    color: green;
}