.sidebarOption{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.sidebarOption:hover {
    background-color: #140514;
}

.sidebar_Option_icon{
    padding: 10px;
    font-size: 15px;
}
.sidebarOption_rooms{
    color: rgb(122, 63, 63);
    padding: 10px;
}

.sidebarOption_hash{
    padding: 10px;
    color: white;
}

.sidebar_name > h3 {
    font-weight: 500;
}