// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  
.splash-div {
    background: #f6efe8;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    max-width: 3000px;
    margin: 0 auto;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    
    
    
}
.splash-div > div {
    display: flex;
    flex-direction: column;
    height: 5000;
    justify-content: space-between;
    margin-top: auto;
    margin-left: 30px;

}


.splash-hq{
    background: #f6efe8;

    display: block;
    box-sizing: inherit;
    margin: 0 auto;
    padding-top: 30px;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.0625;
    letter-spacing: -1.5px;
    font-size: 50px;
    max-height: 70%;
    display: block;
    margin-left: 750px;
    margin-top: 30px;
}



.team {
    display: inline-block;
    grid-column: 5/span 4;
    grid-row: 3;
    block-size: inherit;
    line-height: 1.44444444;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    height: fit-content;
    font-weight: 400;
    line-height: 1.333;
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 1.125rem;

    margin-left: 600px;
    margin-top: 30px;
}

.splash-form {
    grid-column: 5/span 2;
    grid-row: 4;
    align-self: end;
    margin-bottom: 2rem;
}

.splash-started {

    padding: 15px;
    font-weight: 425;
    line-height: 1.28571429;
    border-radius: 4px;
    font-size: .875rem;
    background-color: #4a154b;
    color:white;
    box-shadow: none;
    border: none;
    letter-spacing: 1px;
    outline: 0;
    margin-left: 1100px;
    margin-top: 30px;
}

.splash-started:hover {
    background-color: #3d1242;
    cursor: pointer;
}

.splash-login {
    font-size: 90%;
}


.navbar-right {
    padding: 15px;
    font-weight: 500;
    line-height: 1;
    border-radius: 4px;
    font-size: .875rem;
    color:white;
    box-shadow: none;
    border: none;
    letter-spacing: 1px;
    outline: 0;
    background-color: #4a154b;
}

.navbar-link{
    background: white;
}

.splash-picture {
    margin-bottom: inherit;
    width: 65px;
    text-transform: lowercase;
    font-size: 15px;
    line-height: 1.46668;
    font-weight: initial;
    box-sizing: inherit;
    max-width: 100%;
    height: 70px;
    
}


.splash-div > .splash-bring {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    margin-top: auto;
    margin-left: 30px;

}

.header-div-2{
    background: #f6efe8;
    grid-template-rows: 100px 69px minmax(auto,125px) auto 286px 30px;
    display: flex;
    flex-direction: column;
    padding-top: 58px;
    max-width: 1080px;
    margin: 0 auto;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -.8px;
    font-size: 62px;
 
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    color: black;
    z-index: 100000;
    
}

.better-way{
    font-size: 45px;
    font-weight: 900;
    line-height: 1.12;
    letter-spacing: -.8px;
    padding-left: 18px;
    padding-bottom: 18px;
    margin-left: 100px;
    margin-top: 30px;
}

.unlike-text{
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;

    font-weight: 400;
    line-height: 1.333;
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 1.125rem;

    margin-left: 100px;
    margin-top: 30px;
    margin-bottom:30px;
}


.splash-started2{
    padding: 19px 40px 20px;
    font-weight: 425;
    line-height: 1.28571429;
    border-radius: 4px;
    font-size: .875rem;
    background-color: #f6efe8;
    color:#4a154b;
    box-shadow: none;
    border: none;
    letter-spacing: 1px;
    outline: 0;
        margin-left: 100px;
    margin-top: 30px;
}

.header-div-3{
    background: #f6efe8;

    display: block;
    box-sizing: inherit;
    margin: 0 auto;
    padding-top: 30px;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.0625;
    letter-spacing: -1.5px;
    font-size: 50px;
    max-height: 70%;
    display: block;
    margin-left: 250px;
    margin-top: 30px;
}

.better-way-2{
    font-size: 45px;
    font-weight: 900;
    line-height: 1.12;
    letter-spacing: -.8px;
    padding-left: 18px;
    padding-bottom: 18px;
    margin-left: 650px;
    margin-top: 30px;
}

.unlike-text-2{
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    height: fit-content;
    font-weight: 400;
    line-height: 1.333;
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 1.125rem;

    margin-left: 100px;
    margin-top: 30px;
    margin-bottom:30px;
}


.firstcol {
    width: 400;
    background: transparent;
}

.video{
        max-width: 50%;
        max-height: 70%;
        display: block;
    margin-left: 700px;
    margin-top: 30px;
}
.animation-1{
            max-width: 150%;
        max-height: 70%;
        display: block;
    margin-left: 100px;
    margin-top: 30px;

}

.youtube{

        display: block;
    margin-left: 950px;
    margin-top: 30px;
    

}