// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  
.splash-div {
    background: #f6efe8;
    grid-template-rows: 100px 69px minmax(auto,125px) auto 286px 30px;
    display: flex;
    flex-direction: row;
    padding-top: 58px;
    max-width: 1080px;
    margin: 0 auto;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    
    
}
.splash-div > div {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    margin-top: auto;
    margin-left: 30px;

}


.splash-hq{
    background: #f6efe8;
    grid-template-rows: 100px 69px minmax(auto,125px) auto 286px 30px;
    display: flex;
    flex-direction: row;
    padding-top: 58px;
    max-width: 1080px;
    margin: 0 auto;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -.8px;
    font-size: 62px;
 
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 2/span 4;
    grid-row: 1/span 2;
    position: relative;
    color: black;
    z-index: 100000;
}



.team {
    display: inline-block;
    grid-column: 5/span 4;
    grid-row: 3;
    block-size: inherit;
    line-height: 1.44444444;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    height: fit-content;
}

.splash-form {
    grid-column: 5/span 2;
    grid-row: 4;
    align-self: end;
    margin-bottom: 2rem;
}

.splash-started {
    padding: 19px 40px 20px;
    font-weight: 425;
    line-height: 1.28571429;
    border-radius: 4px;
    font-size: .875rem;
    background-color: #4a154b;
    color:beige;
    box-shadow: none;
    border: none;
    letter-spacing: 1px;
    outline: 0;
}

.splash-started:hover {
    background-color: #3d1242;
    cursor: pointer;
}

.splash-login {
    font-size: 90%;
}


.navbar-right {
    padding: 5px 30px 5px;
    font-weight: 300;
    line-height: 1;
    border-radius: 4px;
    font-size: .875rem;
    color:beige;
    box-shadow: none;
    border: none;
    letter-spacing: 1px;
    outline: 0;
    background-color: #4a154b;
}

.navbar-link{
    background: white;
}

.splash-picture {
    width: 150px;
    text-transform: lowercase;
    font-size: 15px;
    line-height: 1.46668;
    font-weight: initial;
    box-sizing: inherit;
    max-width: 100%;
    height: auto;
    
}

.footer{
padding: 20px;
  text-align: center;
  background: #f6efe8;
  margin-top: 20px;
}

.splash-div > .splash-bring {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    margin-top: auto;
    margin-left: 30px;

}

.header-div-2{
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -.8px;
    font-size: 62px;
 
    margin-top: 0;
    margin-bottom: 0;
    grid-column: 2/span 4;
    grid-row: 1/span 2;
    position: bottom-right;
      bottom: 10px;
    width: 50%;
    border: 3px solid #8AC007;

    color: black;
    z-index: 10000;
}

.better-way{
    font-size: 45px;
    font-weight: 900;
    line-height: 1.12;
    letter-spacing: -.8px;
    padding-bottom: 18px;
}

.unlike-text{
    font-weight: 400;
    line-height: 2;
    letter-spacing: -.2px;
    font-size: 1rem;
    padding-bottom: 30px;
}



.splash-started2{
    padding: 19px 40px 20px;
    font-weight: 425;
    line-height: 1.28571429;
    border-radius: 4px;
    font-size: .875rem;
    background-color: #f6efe8;
    color:#4a154b;
    box-shadow: none;
    border: none;
    letter-spacing: 1px;
    outline: 0;
}

.header-div-3{
    text-align: center;
    min-height: 550px;
    padding-top: 100px;
    background-color: white;
}

.better-way-2{
    font-size: 45px;
    font-weight: 900;
    line-height: 1.12;
    letter-spacing: -.8px;
    padding-bottom: 18px;
}

.unlike-text-2{
    font-weight: 400;
    line-height: 2;
    letter-spacing: -.2px;
    font-size: 1rem;
    padding-bottom: 30px;
}




